/* BASIC FORMATTING */
footer
{
    background-color: #c5a599;
    background-image: url("images/plaid-corner.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* NAVIGATION */
.footer-navigation
{
    margin-top: 20px;
    align-self: start;
    justify-self: start;
}

.footer-navigation ul
{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer-navigation a
{
    text-decoration: none;
    color: inherit;
   
    font-size: .75rem;
    @media (width > 700px)
    {
        font-size: 1rem;
    }
       
}

.footer-navigation a:hover,
a:focus-visible
{
    color: #3e3e3b;
}

.footer-navigation .main-link
{
    font-size: 1rem;
    @media (width > 700px)
    {
        font-size: 1.25rem;
    }
}

a:hover,
a:focus-visible
{
    color: #3e3e3b;
}

/* LAYOUT */
.footer-grid
{
    display: grid;
    grid-template-columns: 12% 50% 12% 12% 14%;
    justify-items: left;
    margin: auto;
}

.footer-flower
{
    grid-column: 1;
    grid-row: 1/4;
}

.footer-drawn-text
{
    grid-column: 2;
    grid-row: 2/4;
}

.work-box
{
    grid-column: 3;
    grid-row: 1/3;
}

.flash-box
{
    grid-column: 4;
    grid-row: 1/3;
}

.info-box
{
    grid-column: 5;
    grid-row: 1;
}  

.booking-box
{
    grid-column: 5;
    grid-row: 2;
}

.footer-logos
{
    grid-column: 3;
    grid-row: 2;
}

.media-attr
{
    grid-column: 4;
    grid-row: 3;
}

.credit
{
    grid-column: 5;
    grid-row: 3;
}

/* MORE FORMATTING! */
.footer-flower img
{
    width: 100%;
}

.footer-drawn-text
{
    padding-bottom: 10px;
    align-self:last baseline;
}

.work-box
{
    grid-column: 3;
    grid-row: 1/3;
}

.flash-box
{
    grid-column: 4;
    grid-row: 1/3;
}

.info-box
{
    grid-column: 5;
    grid-row: 1;
}  

.booking-box
{
    align-self:last baseline;
    background-color: #a77471;
    padding: 12px 20px;
    border-radius: 50px;
    color: #e3d5c1;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
}
.booking-box:hover, .booking-box:focus-visible
{
    background-color: #a8625f;
    color: #e3d5c1;
}

.footer-logos
{
    display: flex;
    align-self: first;
    justify-self: first;
}
.logo
{
    width: 23px;
    margin-right: 8px;
}

.logo:hover,
.logo:focus-visible
{
    width:25px;
}

.media-attr, .credit
{
    align-self:last baseline;
    padding-bottom: 10px;
    font-size: .8rem;
    color: #a77471;
    text-decoration: none;
}
.media-attr:hover, .media-attr:focus-visible
{
    color: #a8625f;
}



/* FOOTER */
/* BASIC FORMATTING 
footer
{
    background-color: #c5a599;
    background-image: url("images/plaid-corner.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    overflow: hidden;
}

/* NAVIGATION FORMATTING 
.footer-navigation
{
    align-self: start;
    justify-self: start;
}

.footer-navigation ul
{
    list-style-type: none;
}

.footer-navigation a
{
    text-decoration: none;
    color: inherit;
   
    font-size: .75rem;
    @media (width > 700px)
    {
        font-size: 1rem;

        @media(width > 1000px)
        {
            font-size: 1.25rem;
        }
    }
       
}

.footer-navigation a:hover,
a:focus-visible
{
    color: #3e3e3b;
}

.footer-navigation .main-link
{
    font-size: 1rem;
    @media (width > 700px)
    {
        font-size: 1.25rem;
        @media (width > 1000px)
        {
            font-size: 1.5rem;
        }
    }
}

a:hover,
a:focus-visible
{
    color: #3e3e3b;
}


/* BOX FORMATTING
.flower-box
{
    .flower-flash
    {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .logo-group
    {
        position: relative;
        left: 15px;
        top: 40px;
    }

    .logo
    {
        width: 23px;
        margin-bottom: 7px;
    }
}

.drawn-star-box
{
    justify-self: end;
    align-self: center;
    width: 40%;
    margin-right: 30%;
}

.drawn-text-box
{
    justify-items: start;
    width:30%;
}

.booking-box
{
    overflow: hidden;
    align-self: start;
    justify-self: start;
    transform: rotate(13deg);
    text-decoration: none;
    color: #e7eff2;
    text-align: center;
    p
    {
        padding-top: 5%;
        font-size: .75rem;
        @media(width > 1000px)
        {
            font-size: 1.25rem;
        }
    }
    img
    {
        width:60%;
        margin: auto;
    }
}

.booking-box:hover,
.booking-box:focus-visible
{
    color: #cbccce; 
}

.studio-box
{
    position: relative;
    align-items: center;
    grid-column-start: 1;
    grid-row-start: 1;
    .receipt-text
    {
        transform: rotate(-16deg);
        text-align: center;
        font-size: 1rem;
        @media (width > 1000px)
        {
            font-size: 1.5rem;
        }
    }
    a
    {
        text-decoration: none;
        color: inherit;
    }
    a:hover,
    a:focus-visible
    {
        color: #3e3e3b;
    }
    .receipt-image
    {
       width: 100%;
        /*height: 105%;
    }
    .studio-image
    {
        justify-self: center;
        width: 90%;
    }
}

/* FOOTER LAYOUT 
.footer-grid
{
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 25% 37% 38%;
    @media(width > 1000px)
    {
        grid-template-columns: 16% 21% 21% 22% 20%;
    }
}


.flower-box
{
    grid-column:1;
    grid-row: 1/4;
}

.flash-box
{
    padding: 20px;
    grid-column: 2;
    grid-row: 1;
    @media(width > 1000px)
    {
        grid-row: 1/3;
    }
}

.drawn-star-box
{
    grid-column: 3;
    grid-row: 1;
}

.info-box
{
    padding: 20px;
    grid-column: 2;
    grid-row: 2;
    @media(width > 1000px)
    {
        grid-column: 4;
        grid-row: 1;
    }
}

.drawn-text-box
{
    grid-column: 2;
    grid-row: 3;
}

.work-box
{
    padding: 20px;
    grid-column:3;
    grid-row: 2;
    
    @media(width > 1000px)
    {
        grid-column: 3;
        grid-row: 3;
    }
        
}


.booking-box
{
    grid-column: 3;
    grid-row:  1;
    @media(width >1000px)
    {
        grid-column: 4;
        grid-row: 2/4;
    }
}

.studio-box
{
    
    display: grid;
    grid-column: 5;
    grid-row: 1/4;

}

.layered {
    display: grid;
}

.layered * 
{
    grid-column-start: 1;
    grid-row-start: 1;
}

.centered
{
    align-items: center;
}

.hidden-small-screen
{
    display: none;
    @media(width > 1000px)
    {
        display: grid;
    }
}
*/
